<section class="uk-section uk-section-default">
    <div class="uk-container">
        <!-- sin incluir uk-grid no va el grid -->
        <div class="uk-child-width-1-2@m" uk-grid >

            {{#each anuncios}}
            <div >
                <div style="height:400px;"
                     class="uk-card uk-card-default uk-grid uk-grid-collapse uk-child-width-1-2 uk-margin">
                    <div class="uk-card-media-left uk-cover-container">
                        <img style="height:400px;"
                             class="uk-cover" src="/uploads/{{ _id }}.png">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ titulo }}</h3>
                            <p>{{ descripcion }}.</p>
                            <a class="uk-width-1-1 uk-button uk-button-secondary uk-button-small"
                               href="/comprar/{{ _id }}">
                                {{ precio }} €
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</section>
