<h1> Contenido de index </h1>
<!-- Search form -->
<section class="uk-section">
    <!-- necesitamos un uk-inline para contener el div de abajo -->
    <!--  EL grid funciona tal que define filas-columnas: 1-1 representa el contenido en una gran unica celda  -->
    <div class="uk-inline uk-width-1-1@l">
        <img src="images/sofa-high.jpg" alt="">
        <div class="uk-position-center uk-overlay uk-overlay-default">
            <h2 class="uk-margin">¿Qué estás buscando?</h2>
            <div class="uk-margin">
                <form class="uk-search uk-search-default uk-width-1-1"
                      action="/anuncios">
                    <span uk-search-icon></span>
                    <input class="uk-search-input"
                           name="criterio"
                           type="search" placeholder="Buscar...">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Slider -->
<!-- Visible en m o más -->
<section class="uk-section uk-section-muted uk-visible@m">
    <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle" >

            <ul class="uk-slider-items
                        uk-child-width-1-4@m
                        uk-child-width-1-6@l">

                <li>
                    <a href="/anuncios">
                        <img src="images/coches.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Coches</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/moto.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Motos</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/bicicleta.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Bicicletas</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/informatica.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Informática</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/telefonos.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Teléfonos</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/tv-audio-foto.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Tv, audio y foto</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/electrodomesticos.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Electrodomésticos</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/moda.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Moda</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/coleccionismo.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Coleccionismo</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/construccion.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Construcción</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/empleo.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Empleo</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/servicios.svg" width="64" height="64">
                        <span class="uk-margin-small-left">Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="/anuncios">
                        <img src="images/otros.svg" width="64" height="64" >
                        <span class="uk-margin-small-left">Otros</span>
                    </a>
                </li>
            </ul>
            <!-- Slider controls -->
            <a class="uk-position-center-left uk-position-small uk-hidden-hover"
               href="#"
               uk-slidenav-previous
               uk-slider-item="previous">
            </a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover"
               href="#"
               uk-slidenav-next
               uk-slider-item="next">
            </a>
        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
</section>
<!--Images with scroll-spy -->
<section class="uk-section uk-section-default">
    <div class="uk-container">
        <!-- Todos los hijos ocupan la mitad 1-2 cuando es de m o más -->
        <div class="uk-grid uk-child-width-1-2@m">
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="images/destacado1.png" uk-cover>
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Bicicletas</h3>
                            <p>400 anuncios nuevos esta semana</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="images/destacado2.png" alt="" uk-cover>
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Muebles</h3>
                            <p>300 anuncios nuevos esta semana </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-left; repeat: false">
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="images/destacado12.png" alt="" uk-cover>
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Videoconsolas</h3>
                            <p>400 anuncios nuevos esta semana</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium">
                <div class="uk-card uk-card-default"
                     uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="images/destacado7.png" alt="" uk-cover>
                        <canvas></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Ordenadores</h3>
                            <p>300 anuncios nuevos esta semana </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
